body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #F4F4F4;
}

/* Button Styling */

button.button-success,
button.button-error,
button.button-warning,
button.button-secondary ,
button.button-logout {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

button.button-warning {
    background: rgba(254, 93, 38, 1);
}

button.button-secondary {
    background: #74C69D;
}

button.button-logout {
    background-color: transparent;
}

button.button-logout:hover {
    background-color: rgb(60, 60, 60);
}

/* Journal Page CSS  */



/* Nav/menu */


#menu {
    margin-right: 50px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1em;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.2);
    overflow-y: auto;
}

#menu img {
    width: 80px;
    height: auto;
    padding: 10px;
}

/* .pure-menu {
    min-height: 50px;
    background-color: #84A98C;
    padding: 0.5em;
} */

.pure-menu a {
    color: black;
    font-size: larger;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

/* nav-menu {
    display: inline-block;
}
   */
.nav-item {
    flex: 1;
    text-align: center;
}


#menu .pure-menu-link:hover {
    background-color: transparent;
    color: #EE6C4D;
}



.pure-menu-heading {
    border-radius: 15px;
    background: var(--black-amp-white-white, #FFF);
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}






/* Content <div> container for all pages */

.content {
    margin: 0 auto;
    padding: 0 12em;
    margin-top: 50px;
    width: 85%;
    margin-bottom: 10px;
    height: 100vh;
}


.toolbar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: -15px;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    /* background: #74C69D; */
    background: url("/static/img/toolbar-styling-overlay.png");
    background-blend-mode: overlay, normal;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.02);
    margin-bottom: 15px;
}

.toolbar a {
    padding: 1em;
    color: white;
    text-decoration: none;
}






/* Login Page / Accounts Styling  */
.pure-g.pure-5-5.login {
    display: flex;
    justify-content: center;
}

div.pure-g.pure-5-5.sign-up-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
}




/* Sign up Page */

div.pure-g.pure-5-5.sign-control {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pure-control-group {
    height: 100vh;

}

div.pure-control-group {
    display: flex;
    justify-content: center;
}

form.pure-form.pure-form-aligned.sign-up-form,
div.form-group {
    padding: 1em;
}







/* Form Entry Styling */

div.form-container,
form.pure-form.pure-form-stacked {
    width: 100%;
    /* height: 10vh; */
}


input.pure-input-2-3 {
    padding: 1em;
    margin: 1em;
}

input::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: black;
}




textarea {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;

    width: 100%;
    height: 75vh;

    border: none;
    overflow: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    margin: 25px;
    padding: 25px;

    background-color: white;
}

textarea::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.pure-button.button-save {
    background-color: #74C69D;
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    padding: 1em;
    width: 10vw;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.pure-button.button-save:hover {
    background-color: #73b4d4;
}






/* Archive CSS Styles */

h1 {
    margin: 25px;
    padding: 25px;
}

.archive {
    display: flex;
    justify-content: center;
}

.archive table {
    padding: 10px;
}

.pure-table.custom-table {
    width: 100%;
    /* border-collapse: collapse;  */
    border: none;
    padding: 10px;
}

.pure-table.custom-table thead {
    background-color: transparent;
}

.pure-table.custom-table td,
.pure-table.custom-table thead {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #E2E8F0;
    padding: 20px;
    font-size: 1em;
}

.pure-table.custom-table td a:link,
.pure-table.custom-table td a:visited {
    text-decoration: none;
    color: black;
}

.pure-table.custom-table tbody tr:last-child td {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #E2E8F0;
}

.archive-container {
    background-color: white;
    height: fit-content;
    border-radius: 15px;
    /* overflow: scroll; */
    box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.02);
}






/* Journal entry detail view */

.journal-detail {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    padding-bottom: 20px;
    background-color: white;
    height: fit-content;
    border-radius: 15px;
    overflow: auto;
    box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.02);
}

.entry-sidebar {
    display: grid;
    align-self: center;
    grid-template-rows: 50px 50px 2fr 50px;
    row-gap: 50px;
    border-right: 5px solid rgba(245, 245, 245, 1);
    padding: 25px
}

.entry-title {
    font-size: 0.85em;
    border-bottom: 5px solid rgba(245, 245, 245, 1);
    text-align: center;
    padding-bottom: 85px;
}

.entry-sentiment {
    text-align: center;
}

.sentiment-title {
    position: relative;
    height: 16px;
    padding: 15px 0;
    margin-bottom: -10px;
    z-index: 1px;
    border-radius: 14.705px;
    background: #F5F5F5;
    box-shadow: 0px 3.43112px 5.39176px 0px rgba(0, 0, 0, 0.02);
    font-weight: bold;
}

.sentiment-status {
    height: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: -10px;
    color: white;
    border-radius: 14.705px;
    background: var(--Dark-Blue, linear-gradient(82deg, #313860 2.25%, #151928 79.87%));
    box-shadow: 0px 3.43112px 5.39176px 0px rgba(0, 0, 0, 0.02);
}

.entry-distortions {
    margin-top: 20px;
    line-height: normal;
    text-align: center;
}

.distortion-title {
    height: 16px;
    position: relative;
    padding: 15px 0;
    margin-bottom: -10px;
    z-index: 1px;
    border-radius: 14.705px;
    background: #F5F5F5;
    box-shadow: 0px 3.43112px 5.39176px 0px rgba(0, 0, 0, 0.02);
    font-weight: bold;
}

.distortion-status {
    height: fit-content;
    padding: 20px;
    margin-top: -10px;
    color: white;
    border-radius: 14.705px;
    background: var(--Dark-Blue, linear-gradient(82deg, #313860 2.25%, #151928 79.87%));
    box-shadow: 0px 3.43112px 5.39176px 0px rgba(0, 0, 0, 0.02);
}

.distortion-status-null {
    height: fit-content;
    padding: 20px;
    margin-top: 10px;
    color: white;
    border-radius: 14.705px;
    background: var(--Dark-Blue, linear-gradient(82deg, #313860 2.25%, #151928 79.87%));
    box-shadow: 0px 3.43112px 5.39176px 0px rgba(0, 0, 0, 0.02);
}

.distortions-paragraph {
    padding-top: 10px;
}


div.text-entry {
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 10px;
    font-size: 18px;

}

.entry-analysis {
    padding-left: 1em;
}






/* Sentiment Page CSS */

.sentiment-container {
    background-color: white;
    height: fit-content;
    border-radius: 15px;
    /* overflow: scroll; */
    box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.02);
}

.graph-one {
    grid-area: entries;
}

.graph-two {
    grid-area: distortions;
}

.graph-three {
    grid-area: sentiment;
}

.graph-four {
    grid-area: learning
}

.graph-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "entries entries "
        "sentiment  distortions "
        "learning . ";
    padding: 2em;
    gap: 25px;
}

/* Profile page */
.container {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.profile-image img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.name-title h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.bio {
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Media Queries  */

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}


/* Prompt Generator Styling */
#prompt {
    color: #151928;
}

.prompt-container {
    display: inline;
}