<!-- Extend base.html template and load static files  -->

{% extends "journal/base.html" %}
{% load static %}

<!-- Head block -->

{% block head %}
    <link rel="stylesheet" href="{%static 'journal/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js">
{% endblock %}


<!-- Main content block -->

{% block content %}
<body>
    <div class="content">
        <div class="toolbar">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <a href="{% url 'logout' %}">
                    <button class="pure-button button-logout" type="submit">Sign Out</button>
                </a>
            </form>
        </div>

        <div class="sentiment-container">
            <div class="pure-g pure-u-5-5 ">
                <div class="graph-container">
                    <div class="graph-one">
                        <canvas id="entriesContainer"></canvas>
                    </div>

                    <div class="graph-two">
                        <canvas id="distortionContainer"></canvas>
                    </div>

                    <div class="graph-three">
                        <canvas id="sentimentContainer"></canvas>
                    </div>

                    <div class="graph-four">
                        <div class="learning">
                            <h1>Learning Resources</h1>
                        </div>
                    </div>
                        
                </div>

                        
                </div>
            </div>
        </div>
    </div>
    {% block scripts%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Journal Entry Line Chart -->
<script>
    const ctx = document.getElementById('entriesContainer');
    let data = '{{ data|safe }}';  
    data = JSON.parse(data);  

    new Chart(ctx, {  
        type: 'line',
        data: data,
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Months'
                    }
                },
                y: {
                    beginAtZero: true, 
                    title: {
                        display: true,
                        text: 'Number of Entries'
                    }
                }
            }, 
            responsive: true,
            plugins: {  
                legend: {  
                    position: 'top',
                },
                title: {  
                    display: true,
                    text: 'Journal Entries'
                }
            }
        },
    });
</script>

<!-- Distortion type count doughnut chart -->
<script>
    const ctx1 = document.getElementById('distortionContainer');
    let distortion_data = '{{ distortion_data|safe }}';
    distortion_data_json = JSON.parse(distortion_data);
    console.log(distortion_data_json)  

    new Chart(ctx1, {  
        type: 'doughnut',
        data: distortion_data_json,
        options: {
            responsive: true,
            plugins: {  
                legend: {  
                    position: 'bottom',
                },
                title: {  
                    display: true,
                    text: 'Distortion Types',
                }
            }
        },
    });
</script>

<!-- Sentiment PolarArea Chart -->
<script>
    const ctx2 = document.getElementById('sentimentContainer');
    let sentiment_data = '{{ sentiment_data|safe }}';
    sentiment_data_json = JSON.parse(sentiment_data);  

    new Chart(ctx2, {  
        type: 'polarArea',
        data: sentiment_data_json,
        options: {
            responsive: true,
            plugins: {  
                legend: {  
                    position: 'bottom',
                },
                title: {  
                    display: true,
                    text: 'Sentiment',
                }
            }
        },
    });
</script>
{%endblock%}
</body>

{% endblock %}

