{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
        <title>Journal</title>
{% endblock %}
</head>
<body>


        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="{% url 'home' %}">AVY</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="{% url 'journal' %}" class="pure-menu-link">Journal</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="{% url 'journallist' %}" class="pure-menu-link">Archive</a>
                    </li>
                    <li class="pure-menu-item"> 
                        <a href="{% url 'analytics' %}" class="pure-menu-link">Analytics</a>
                    </li>
                    <li class="pure-menu-item"> 
                        <a href="{% url 'profile' %}" class="pure-menu-link">Profile</a>
                    </li>
                </ul>
            </div>
            <div class="menu-logo">
                <img src="{% static 'img/logo.png' %}" alt="Journal">
            </div>
        </div>
  


    {% block content %}

    {% endblock %}



</body>

</html>
