{% extends "journal/base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{%static 'journal/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;1,100&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="content">

    {% if user.is_authenticated %}
        <h2>Hi {{ user.username }}</h2>
    {% else %} 
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %} 

</div>

{% endblock %}  

