<!-- Extend base.html template and load static files  -->

{% extends "journal/base.html" %}
{% load static %}

<!-- Head block -->

{% block head %}
    <link rel="stylesheet" href="{%static 'journal/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
{% endblock %}


<!-- Main Content -->

{% block content %}

<div class="content">
    <div class="toolbar">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <a href="{% url 'logout' %}">
                <button class="pure-button button-logout" type="submit">Sign Out</button>
            </a>
        </form>
    </div>

    <div class="archive-container">
        <h1 class="header">Archive</h1>

        <div class="pure-g pure-u-5-5 archive">
            <table class="pure-table pure-table-horizontal custom-table">
                <thead>
                    <th style="width: 55%;">Title</th>
                    <th style="width: 30%">Date</th>
                    <th style="width: 15%">Sentiment</th>
                </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            <td><a href="{% url 'journalentry' entry.id %}">{{ entry.title }}</a></td>
                            <td>{{ entry.date }}</td>
                            <td>{{ entry.sentiment }}</td>
                        </tr>
                    {% empty %}
                        <p>No journal entries yet.</p>
                    {% endfor %}   
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}