<!-- Extend base.html template and load static files  -->

{% extends "journal/base.html" %}
{% load static %}

<!-- Head block -->

{% block head %}
    <link rel="stylesheet" href="{%static 'journal/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="content">
    <div class="toolbar">
        <a href="">Search</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <a href="{% url 'logout' %}">
                <button class="pure-button button-logout" type="submit">Sign Out</button>
            </a>
        </form>
    </div>
    <div class="container">
            <div class="profile-image">
                <img src="path_to_image.jpg" alt="Profile">
            </div>
            <div class="name-title">
            {% if user.is_authenticated %}
                <h1>Hi {{ user.username }}, Welcome to your profile</h1>
                <p>Your email is {{ user.email }}</p> 
            </div>
            <div class="bio">
                [Biography or Description Here]
            </div>
            <div class="social-links">
                [Social Links/Buttons Here]
        </div>


  
        <!-- <form method="post" action="{% url 'logout' %}">
            {% csrf_token %} 
            <a href="{% url 'logout' %}">
                <button type="submit">Logout</button>
            </a>
        </form> -->
    {% endif %}  
</div>
{% endblock %}