<!-- Extend base.html template and load static files  -->

{% extends "journal/base.html" %}
{% load static %}

<!-- Head block -->

{% block head %}
    <link rel="stylesheet" href="{%static 'journal/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
{% endblock %}


<!-- Main content block -->

{% block content %}

<div class="content">
    <div class="toolbar">
        <a href="">Search</a>
        <a href="">Sign Out</a>
    </div>

    <div class="sentiment-container">
        <div class="pure-g pure-u-5-5 ">
            <div class="graph-container">
                <div class="graph-one">
                    <img src="/static/img/Second Card.png">

                </div>

                <div class="graph-two">

                </div>

                <div class="graph-three">
                    <img src="/static/img/Second Card.png">
                </div>

                <div class="graph-four">

                    <div class="learning">
                        <p>Learning section</p>
                    </div>

                </div>
                    
            </div>

                     
            </div>
        </div>
    </div>
</div>

{% endblock %}

